
.pnpm-store
*.log
env.bak/
wheels/
*.tsbuildinfo
nosetests.xml
local_settings.py
cmake_install.cmake
.env.*
.nyc_output
yarn-error.log*
*.elf
*.map
*.seed
.cache
*.dll
ENV/
*.rdb
.stylelintcache
coverage.xml
*.py[codz]
target/
.tern-port
.vscode-test
*.lo
.tox/
.pyre/
**/mutants.out*/
*.mo
marimo/_static/
.scrapy
lib-cov
.output
dist
downloads/
*.swp
*.lib
develop-eggs/
*.cmd
.pixi
*.egg-info/
*.so
.eslintcache
!.yarn/releases
__pycache__/
.Python
*.dSYM/
venv/
*.obj
logs
.yarn/*
.serverless/
!.env.example
*.cover
.grunt
__pypackages__/
.npm
*.pot
vite.config.ts.timestamp-*
*.su
MANIFEST
rabbitmq-data/
*.exp
ipython_config.py
*.app
venv.bak/
.hypothesis/
*.pch
Module.symvers
.pytest_cache/
pids
pip-delete-this-directory.txt
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.la
celerybeat.pid
.spyproject
*.idb
Testing/
cython_debug/
**/.vitepress/dist
*.exe
yarn-debug.log*
*.pid
*.d
*.so.*
.lock-wscript
.coverage
db.sqlite3
.pdm-python
*.a
npm-debug.log*
share/python-wheels/
.mypy_cache/
rabbitmq/
.vuepress/dist
!.yarn/versions
build-*/
*.x86_64
.temp
*.manifest
Build/
.next
*.egg
htmlcov/
out
db.sqlite3-journal
profile_default/
__marimo__/
.streamlit/secrets.toml
.envrc
*.gch
.webassets-cache
activemq-data/
/site
*.slo
bower_components
CMakeFiles/
.ropeproject
.node_repl_history
parts/
.spyderproject
*.dylib
**/*.rs.bk
.pytype/
modules.order
pip-log.txt
dkms.conf
.pdm-build/
docs/_build/
web_modules/
*.lcov
Makefile
CMakeCache.txt
mnesia/
*$py.class
*.pdb
compile_commands.json
.nuxt
debug
.ipynb_checkpoints
instance/
.pnp.*
.parcel-cache
.eggs/
.nox/
*.dwo
.yarn-integrity
celerybeat-schedule
eggs/
*.bak
.coverage.*
build/
!.yarn/patches
*.sage.py
target
.pypirc
.docusaurus
.svelte-kit/
coverage
.dmypy.json
Mkfile.old
*.smod
build/Release
*.mod
jspm_packages/
dist/
lerna-debug.log*
*.hex
**/.vitepress/cache
vite.config.js.timestamp-*
sdist/
*.py.cover
*.ilk
!.yarn/plugins
*.aof
node_modules/
.abstra/
lib/
.cache/# Prerequisites
*.spec
marimo/_lsp/
.ruff_cache/
*.tgz
!.yarn/sdks
.tmp_versions/
*.mod*
cover/
vcpkg_installed/
.cache/
.venv
.fusebox/
*.pid.lock
*.o
env/
*.tmp
*.lai
.vite/
*.ko
install_manifest.txt
*.out
var/
lib64/
.dynamodb/
.firebase/
.installed.cfg
dmypy.json
.pybuilder/
.env
*.i*86
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,GitBook,GitHubPages,c,cmake,c++,rust` for https://github.com/Sarverott/gitrecon.git with  [UNIXUSAT=1774206493607]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
